body{
    text-align: center;
    margin: auto;
    max-width: 680px;
}
p{
    color: black;
    padding: 20px;
    font-size: 25px;
}
#primeiro{
    background-color: blanchedalmond;
    border-radius: 15px;
}

.fundo-verde{
    background-color:lightgreen;
    border-radius: 15px;
}
.primeira-tabela{
    text-align: center;
}

.post{
    background-color: #ccc;
}
.div-qualquer{
    font-size: 20px;
}
.span-qualquer{
    background-color: yellow;
}
textarea{
    width: 500px;
    height: 300px;
}